<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, totam, labore quia inventore sint ipsum nobis sit alias rerum repudiandae magni rem placeat. Quis, inventore explicabo ratione distinctio non laudantium.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, totam, accusamus voluptate veniam delectus nemo laudantium ratione odio perferendis animi. Adipisci, natus quasi similique optio asperiores consequatur nesciunt praesentium reiciendis.
</p>

<!--<%= link_to image_tag("rails.png", alt: "Rails logo"),
          'http://rubyonrails.org/' %>-->