<h3>Q&A - Dúvidas do Aplicativo</h3>

<p>Segue abaixo uma série de perguntas e respostas comuns para a utilização do site.</p>

<p><b>1-Quanto tempo tenho para concluir minha graduação?</b></p>
<p><i>R: : Você tem a duração ideal do seu curso + metade dessa duração. Isso é, 6 anos para uma graduação de 4 anos e 7 anos e 6 meses para uma de 5 anos.</i></p>

<p><b>2-Como faço para registrar uma disciplina que cursei?</b></p>
<p><i>R: :  Clique em cima da disciplina, se ela ficar verde siginifica que ela está entre as que cursou</i></p>

<p><b>3-Como vejo quais são os pré-requisitos de uma disciplina?</b></p>
<p><i>R: :  Passe o mouse sobre a disciplina. As disciplinas que são pré-requisitos, que você ainda não cursou, ficarão em vermelho</i></p>

<p><b>4-Existe outras maneiras de ser jubilado além de não atingit o máximo de anos?</b></p>
<p><i>R: :  Além de outras maneiras mais extremas, você também pode ser jubilado devido a não atingir o número de créditos mínimos de uma disciplina</i></p>

<h3> Possui mais perguntas? Viste nossa página de contato e envie um email com sua dúvida! </h3>