
<h1>Contato</h1>

<h3>Valorizamos a sua opnião!</h3>


<p>Por favor, nos conte o que você achou da "Já Jubilou" e como podemos melhorar, enviando um email para <a href="mailto:guerra@foxway.com.br">guerra@foxway.com.br</a>.</p>

<p>Esperamos o seu feedback!</p>