<footer class="footer">
  <small>
    EACH-USP - 2016
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contato", contact_path %></li>
      <!--<li><a href="http://pudim.com.br">Pudim</a></li>-->
    </ul>
  </nav>
</footer>